<div id="footer" class="ui footer secondary segment">
    <div class="ui grid">
        <div class="left floated six wide column">
            <span>Content &amp; design by <a href="https://colinjstevens.com">Colin Stevens</a></span>
        </div>
        <div class="right floated right aligned six wide column">
            <a href="{{ site.github_url }}/blob/master/LICENSE.md"><i class="legal link icon"></i>License</a> &mdash;<a href="{{ site.github_url }}/blob/master/blog/"><i class="github link icon"></i>Souce</a>
        </div>
    </div>
</div>
