<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="ui segment container" id="mainContainer">
        <div class="container" id="header">
            <div class="ui dividing header">
                MogBlog <small>Computer science and system administration with a sprinkle of math</small>
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section" href="{{ site.baseurl }}">Home</a>
                        <div class="divider"> / </div>
                        <a class="section">Posts</a>
                        <div class="divider"> / </div>
                        <a class="section">Categories</a>
                        <div class="divider"> / </div>
                        <a class="section">Tags</a>
                        <div class="divider"> / </div>
                        <a class="section">Feed</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Content -->
        <div class="content">
            {{ content }}
        </div>
    
        {% include footer.html %}
    </div>
</body>
</html>
