<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/post_index.css"/>
    <title>MogBlog &mdash; {{ page.title }}</title>
</head>
<body>
    <div class="ui segment container" id="mainContainer">
        {% include header.html activeTab="archive" %}
        <div id="contentContainer">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    {% include final.html %}
</body>
</html>
