<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/post.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/comment.css"/>
    {% for tag in page.tags %}
        {% if tag == "math" %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                extensions: ["tex2jax.js"],
                jax: ["input/TeX", "output/HTML-CSS"],
                tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
                },
                "HTML-CSS": { availableFonts: ["TeX"] }
            });
        </script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/MathJax/MathJax.js"></script>
        {% endif %}
    {% endfor %}
    <title>MogBlog &mdash; {{ page.title }}</title>
    <script>
        $(document).ready(function() {
            $("article > h1,h2,h3,h4,h5,h6")
            .mouseover(function() {
                $(this).append('<i class="paragraph icon" id="p-icon"></i>');
            })
            .mouseout(function() {
                $(this).find("#p-icon").remove();
            });
            $("article > h1,h2,h3,h4,h5,h6").click(function() {
                var id = $(this).attr('id');
                $('html,body').animate({scrollTop: $(this).offset().top},'slow');
                window.location.hash = id;
            })
            
            $(".replyLink").click(function() {
                var commentId = $(this).data("commentid");
                $("input[id=replyTo").val(commentId); // Set reply_to variable for backend
                var commentName = $("#comment-"+commentId).find(".author").text();
                $("#commentFormHeader").text("Reply to "+commentName); // Update header
                $('html,body').animate({scrollTop: $("#comment-"+commentId).offset().top}, 'slow');
            });
            $("#commentReset").click(function() {
                // SemanticUI will take care of actually resetting the form fields
                $("#commentFormHeader").text("Leave a Comment");
            });
            
            $("#commentForm").form({
                on: 'blur',
                fields: {
                    displayName : {
                        identifier: 'displayName',
                        optional: true,
                        rules: [{
                            type: 'empty'
                        }]
                    },
                    email: {
                        identifier: 'email',
                        optional: true,
                        rules: [{
                            type: 'email',
                            prompt: 'Please enter a valid email address'
                        }]
                    },
                    message: {
                        identifier: 'message',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a comment'
                        }]
                    }
                },
                onSuccess: function(data) {
                    console.log("Form valid! data: "); //DEBUG
                    console.log(data); //DEBUG
                    $(this).addClass('loading');
                    // submit form data as post, wait for return value from php
                    // remove loader
                    // update with success or error
                },
            });
        });
    </script>
</head>
<body>
    <div class="ui segment container" id="mainContainer">
        {% include header.html %}
        <div id="contentContainer">
            <h1 id="postTitle" class="ui header">
                <div class="content">{{ page.title }}</div>
                <div id="postMetadata" class="sub header">
                    <span>By <a href="mailto:{{ page.author_mail }}" title="Contact author">{{ page.author }}</a> on {{ page.date | date: "%B %e, %Y &dash; %I:%M %P" }}</span>
                    <div id="postTags" class="ui basic right floated labels">
                        <i class="ui tag icon"></i>
                        {% for tag in page.tags %}
                            <a class="ui label" href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </h1>
            <article>
                {{ content }}
            </article>
            <div id="commentSection">
                {% assign comment_count = site.data.comments[page.slug].size %}
                <h1 class="ui horizontal divider header">
                    {% if comment_count > 0 %}{{ comment_count }}{% else %}No{% endif %} Comments
                </h1>
                
                <div class="ui comments">
                {% unless comment_count > 0 %}
                        <div class="ui compact message">
                            <div class="header">No comments yet</div>
                            Be the first?
                        </div>
                {% endunless %}
                {% assign comments = site.data.comments[page.slug] | where_exp: "comment", "comment.reply_to == null" %}
                {% for comment in comments %}
                    {% assign indent_level = 0 %}
                    {% assign author = comment.author %}
                    {% assign email = comment.email %}
                    {% assign publish_date = comment.publish_date %}
                    {% assign id = comment.id %}
                    {% assign moderated = comment.moderated %}
                    {% assign content = comment.content %}
                    {% include comment.html indent_level=indent_level title=title author=author email=email publish_date=publish_date id=id moderated=moderated content=content %}
                 {% endfor %}
                 </div>
                 <h1 id="commentFormHeader" class="ui dividing header">Leave a Comment</h1>
                 <form id="commentForm" class="ui form">
                    <input id="hpt" type="text" class="hpt"/>
                    <input id="replyTo" type="hidden" value=""/>
                    <input id="pageSlug" type="hidden" value="{{ page.slug }}"/>
                    <div class="two fields">
                        <div class="field">
                            <label>Display Name (Optional)</label>
                            <input id="displayName" type="text" placeholder="Anonymous"/>
                        </div>
                        <div class="field">
                            <label>Email (Optional, used for gravatar image)</label>
                            <input id="email" type="text" placeholder="email@domain.tld"/>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Message (Markdown enabled)</label>
                        <textarea id="message" placeholder="Message..."></textarea>
                    </div>
                    <div class="ui primary submit button">Submit</div>
                    <div id="commentReset" class="ui reset button">Reset</div>
                    <div class="ui error message"></div>
                    <div class="ui success message"></div>
                 </form>
            </div>
        </div>
        {% include footer.html %}
    </div>
    {% include final.html %}
</body>
</html>
