---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/tag.css"/>
    <title>MogBlog &mdash; Tags</title>
</head>
<body>
    <div class="ui segment container" id="mainContainer">
        {% include header.html activeTab="tags" %}
        <div id="contentContainer">
            <h2 class="ui header">Tag :: {{ page.tag }}</h2>
            <div id="tagList" class="ui bulleted list">
            {% for post in site.posts %}{% for tag in post.tags %}{% if tag == page.tag %}
                <div class="item">
                    <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%d/%m/%Y"}}</time>
                    <span><i class="angle double right icon"></i></span>
                    <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
                </div>
            {% endif %}{% endfor %}{% endfor %}
            </div>

            <i class="arrow left inline icon"></i>
            <a href="{{ site.baseurl }}/tags/">View all</a>
        </div>
    {% include footer.html %}
    </div>
</body>
</html>
