---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/tag.css"/>
    <title>MogBlog &mdash; Tags</title>
</head>
<body>
    <div class="ui segment container" id="mainContainer">
        {% include header.html activeTab="tags" %}
        <div id="contentContainer">
            <h2 class="ui header">Tags</h2>
            <div id="tagList" class="ui list">
                {% for tag in site.tags %}
                    <span class="item">
                        <i class="tag icon"></i>
                        <div class="content">
                            <a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a>
                            <span class="tagCount">({{ tag[1].size }} post{% unless tag[1].size == 1 %}s{% endunless %})</span>
                        </div>
                    </span>
                {% endfor %}
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>
</html>

