---
---
#commentSection {
    width: 100%;
    margin-top: 20px;
    article.reply {
            padding-top: 0px;
            padding-left: 15px;
            border-left: 1px solid lightgrey;
    }
    /*
    .comment {
        margin: 10px;
        padding: 5px;
        border: 2px solid black;
        .content {
            background: lightgrey;
        }
    }
    */
}
