---
---
.post:nth-child(1) {
    margin-top: 0;
}
.post {
    margin-top: 15px;
    margin-bottom: 15px;
    .continueReading {
        display: block;
        margin-top: 20px;
        font-style: italic;
        font-size: 110%;
        width: auto;
    }
    #postTitle {
        .content {
            a { color: inherit; }
            a:hover { border-bottom: 1px dotted; }
        }
    }
}

hr {
    width: 99%;
    border-color: #fafafa;
    
}
hr:last-of-type {
    display: none;
}

