---
---
.ui.header {
    margin-bottom: 5px;
}
#tagList {
    margin-top: 5px;
    margin-left: 40px;
    .tagCount { font-style: italic; }
}

#return {
    #returnText {
/*         padding-bottom: 103px; */
    }
}
